<!-- Header -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">


        <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <!-- Link with href -->

                    <i class="fa-solid fa-list mx-2"></i>

          </a>
          <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            Button with data-bs-target
          </button> -->
          
          





        <!-- <i class="fa-solid fa-list mx-2"></i> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link active nav-anchor-element mx-2"
                        aria-current="page">Home</a>
                </li>
                <li class="mt-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Search</a>
                </li>
            </ul>
            <a routerLink="/home" class="navbar-brand logo">Alekhya</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a routerLink="/contact" class="nav-link nav-anchor-element mx-3">Contact
                Us</a>
            <a routerLink="/login" class="nav-link nav-anchor-element mx-3">
                <i class="fa-solid fa-user mx-3"></i>
            </a>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start offcanvasText" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close mx-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <button  class="offcanvas-title" data-bs-dismiss="offcanvas" aria-label="Close" id="offcanvasExampleLabel">Close</button>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex justify-content-between">
        <a routerLink="/paintings" data-bs-dismiss="offcanvas" class="hoverOffcanvas nav-link nav-anchor-element custom-underline my-2" >Paintings</a>
        <i class="fa-solid fa-chevron-right hide"></i>
      </div>
      <div class="d-flex justify-content-between">
        <a routerLink="/sculptures" data-bs-dismiss="offcanvas" class="hoverOffcanvas nav-link nav-anchor-element custom-underline my-2" >Sculptures</a>
        <i class="fa-solid fa-chevron-right hide"></i>
      </div>
      <div class="d-flex justify-content-between">
        <button routerLink="/pottery" data-bs-dismiss="offcanvas" class="hoverOffcanvas nav-link nav-anchor-element custom-underline my-2" >Pottery</button>
        <i class="fa-solid fa-chevron-right hide"></i>
      </div>
      <div class="d-flex justify-content-between">
        <button routerLink="/textile" data-bs-dismiss="offcanvas" class="hoverOffcanvas nav-link nav-anchor-element custom-underline my-2" >Textile Art</button>
        <i class="fa-solid fa-chevron-right hide"></i>
      </div>
    </div>
  </div>

<!-- <router-outlet></router-outlet> -->

<!-- Carousel  -->
<!-- <app-carousel></app-carousel> -->

<!-- Categories Section  -->
<!-- <app-categories></app-categories> -->

<!-- Banners -->
<!-- <app-banners></app-banners> -->

<!-- Footer -->
<!-- <app-footer></app-footer> -->

<!-- <app-contact></app-contact> -->