<!-- Header -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <i class="fa-solid fa-list mx-2"></i>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link active nav-anchor-element mx-2"
                        aria-current="page">Home</a>
                </li>
                <li class="mt-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Search</a>
                </li>
            </ul>
            <a routerLink="/home" class="navbar-brand logo">Alekhya</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a routerLink="/contact" class="nav-link nav-anchor-element mx-3">Contact
                Us</a>
            <a routerLink="/login" class="nav-link nav-anchor-element mx-3">
                <i class="fa-solid fa-user mx-3"></i>
            </a>
        </div>
    </div>
</nav>

<!-- <router-outlet></router-outlet> -->

<!-- Carousel  -->
<!-- <app-carousel></app-carousel> -->

<!-- Categories Section  -->
<!-- <app-categories></app-categories> -->

<!-- Banners -->
<!-- <app-banners></app-banners> -->

<!-- Footer -->
<!-- <app-footer></app-footer> -->

<!-- <app-contact></app-contact> -->