<app-header></app-header>
<div class="paintings-section d-flex justify-content-around align-items-center">


    <div class="card" style="width: 18rem;">
        <img src="t5.avif" class="card-img-top" alt="Indian Embroidery" height="325px">
        <div class="card-body">
            <p class="card-text">Indian Embroidery</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 22999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="t2.jpg" class="card-img-top" alt="Kanchipuram Silk Saree" height="325px">
        <div class="card-body">
            <p class="card-text">Kanchipuram Silk Saree</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 39999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="t3.webp" class="card-img-top" alt="Applique Work" height="325px">
        <div class="card-body">
            <p class="card-text">Applique Work</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 34999</small></p>
        </div>
    </div>


</div>

<app-footer></app-footer>