/* background: linear-gradient(to right, rgba(205, 193, 255, 0.7), rgba(193, 207, 161, 1)) */
/* background: linear-gradient(to right, rgb(135, 162, 255), rgb(255, 215, 196), rgb(255, 244, 181)); */

.bgContact {
    background: linear-gradient(to right, rgba(209, 233, 246, 0.7), rgba(238, 202, 213, 0.7)), url('./../../../public/cub.jpg') center;
    /* color: white; */
    /* font-weight: bolder; */
}

.divider {
    height: 3px;
    width: 40px;
    background-color: #0a55eb;
    margin-left: auto;
    margin-right: auto;
}

.form-section-inputs {
    padding: 10px;
    border: 1px solid black;
    width: 50%;
}

.form-section-button {
    background-color: #0a55eb;
    color: white;
    font-size: small;
    font-weight: bolder;
    opacity: 0.7;
    /* font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger; */
}

.form-section-button:hover {
    opacity: 1;
    background-color: #0a55eb;
    color: white;
    /* font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal; */
}

.heading {
    font-family: "Satisfy", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
}

.contactText, .form-section-inputs {
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    /* font-size: x-large; */
    font-size: 25px;
}

.form-section-footer {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}