<app-header></app-header>
<div class="paintings-section d-flex justify-content-around align-items-center">


    <div class="card" style="width: 18rem;">
        <img src="i1.jpeg" class="card-img-top" alt="The water lady" height="325px">
        <div class="card-body">
            <p class="card-text">The Water Lady</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 49999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="i2.webp" class="card-img-top" alt="The Tribal Men" height="325px">
        <div class="card-body">
            <p class="card-text">The Tribal Men</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 19999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="i3.webp" class="card-img-top" alt="The Hidden Art" height="325px">
        <div class="card-body">
            <p class="card-text">The Hidden Art</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 24999</small></p>
        </div>
    </div>


</div>

<app-footer></app-footer>