<app-header></app-header>
<div class="paintings-section d-flex justify-content-around align-items-center">


    <div class="card" style="width: 18rem;">
        <img src="s1.jpg" class="card-img-top" alt="Arudra Darshan" height="325px">
        <div class="card-body">
            <p class="card-text">Arudra Darshan</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 39999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="s2.jpg" class="card-img-top" alt="The Tribal Men" height="325px">
        <div class="card-body">
            <p class="card-text">The Indian Antique</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 29999</small></p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="s3.jpeg" class="card-img-top" alt="Celestial Dancer" height="325px">
        <div class="card-body">
            <p class="card-text">Celestial Dancer</p>
            <p class="card-text"><small class="text-body-secondary">&#8377; 34999</small></p>
        </div>
    </div>


</div>

<app-footer></app-footer>